{% extends 'base.html' %} {% block title %}Edit Post{% endblock %} {% block
content %}
<div class="form-control p-5">
  <form method="POST">
    <h1>Edit {{post.title}}:</h1>
    <div>
      <label for="title">Post Title:</label>
      <input
        type="text"
        name="title"
        id="title"
        value="{{post.title}}"
        class="form-control"
      />
    </div>
    <div>
      <label for="content">Post content:</label>
      <input
        type="text"
        name="content"
        id="content"
        value="{{post.content}}"
        class="form-control"
      />
    </div>
    <a class="btn btn-secondary" href="/posts/{{post.id}}">Cancel</a>
    <button class="btn btn-success">Save</button>
  </form>
</div>

{% endblock %}
