{% extends 'base.html' %} {% block title %}Create a post{% endblock %} {% block
content %}
<form class="form-group form-control-lg p-5" method="POST">
  <h1>Create a post for {{ user.first_name }}:</h1>
  <div>
    <label for="title">Title:</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="Title for new post"
      class="form-control"
    />
  </div>
  <div>
    <label for="content">Post content:</label>
    <input
      type="text"
      name="content"
      id="content"
      placeholder="Content of new post"
      class="form-control input-lg"
    />
  </div>
  <div class="form-check">
    {% for tag in tags %}
    <div>
      <input class="form-check-input"
             type="checkbox"
             value="{{ tag.id }}"
             id="tag_{{ tag.id }}"
             name="tags">
      <label class="form-check-label" for="tag_{{ tag.id }}">
        {{ tag.name }}
      </label>
    </div>
    {% endfor %}
  </div>
  <!-- <div class="p-5">
    <form action="">
      <h5>Tags:</h5>
      {% for tag in tags %}
      <ul>
        <input
          type="checkbox"
          id="{{tag.name}}"
          name="{{tag.name}}"
          value="{{tag.name}}"
        />
        <label for="{{tag.name}}">{{tag.name}}</label>
      </ul>

      {% endfor %}
    </form> -->
  </div>
  <div class="mt-0 p-4">
    <a class="btn btn-secondary" href="/users/{{user.id}}">Cancel</a>
    <button class="btn btn-success" type="submit">Create Post!</button>
  </div>
</form>
{% endblock %}
