{% extends 'base.html' %} {% block title %}{{post.title}}{% endblock %} {%
  block content %}
  
    <div class="col-sm-10 col-12">
      <h1>{{ post.title }}</h1>
  
      <div>
        <p>
          {{ post.content }}
        </p>
      </div>
      <form>
        <button
          class="btn btn-primary btn-sm"
          formaction="/posts/{{ post.id }}/edit"
          formmethod="GET"
        >
          Edit
        </button>
        <button
          class="btn btn-danger btn-sm"
          formaction="/posts/{{ post.id }}/delete"
          formmethod="POST"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
  <div class="p-4">
    <a class="btn btn-secondary btn-sm" href="/users">Return to users</a>
  </div>
  {% endblock %}